{% extends "::base.html.twig" %}

{% block title %}Liste des clients{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <h1>Liste des clients</h1>
        <br>

        <table class="table table-striped">
            <thead class="bg-info" style="color: white">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom et Prénom</th>
                <th scope="col">Email</th>
                <th scope="col">Tel</th>
                <th scope="col">Commentaire</th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <th scope="row">{{ client.id }}</th>
                    <td>{{ client.prenom }} {{ client.nom }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.tel }}</td>
                    <td>{{ client.commentaire }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <div class="row justify-content-end">
            <a href="{{ path('bateaux_admin') }}" class="btn btn-info right">Voir les bateaux</a>
        </div>
    </div>

{% endblock %}
